
body { 
        background-color: #f4f7f6; 
}
navbar { 
        box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}
card { 
        border: none; 
        border-radius: 10px; 
        box-shadow: 0 4px 6px rgba(0,0,0,0.05); 
}
card-header { 
        font-weight: bold; 
}
  
.danger{
        color: yellow;
}